---

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Learn electronics soldering - no prior experience needed!
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Assemble one of our kits with helpful instruction - take your light-up badge
    home with you.
  </p>
</div>
