---
import Container from 'components/container.astro'
---

<footer class="my-20 text-sm text-slate-500">
  <Container class="max-w-prose">
    Learn to solder in Seattle! Perfect for beginners, hobbyists, and creators,
    this hands-on class teaches soldering basics, safety, and how to build your
    own light-up badge. Seattle soldering classes held at Passable on Capitol
    Hill with all materials provided.
  </Container>
  <p class="text-center">
    &copy; {new Date().getFullYear()} SolderingClass.com
  </p>
</footer>
